
block content
  h1 Sign Up As Employer

  form(action='/employer-auth/employerSignUp', method='POST')
    label(for='name') Name:
    input(type='text', id='name', name='name', required)

    label(for='email') Email:
    input(type='email', id='email', name='email', required)

    label(for='password') Password:
    input(type='password', id='password', name='password', required)

    button(type='submit') Sign Up

  p Already have an account? 
    a(href='/employer-auth/employerLogIn') logIn
