doctype html
html
  head
    title My Express App
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="/styles/main.css")
    style.
      body, html {
        margin: 0;
        padding: 0;
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      nav ul li {
        margin-right: 10px;
      }
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }

  body
    header
      h2 Talent outsourcing 
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/ultimatumSignUp") Sign Up
          li
            a(href="/ultimatumLogIn") Log In
          li 
            a(href="/employer-auth/employerLogout") Log Out 
          li
            a(href="/employers")
              button(type="button") Employer service
          li
            button#openIndexButton Messaging
          li 
             a(href="/profile")
                button(type="button") Profile
    script.
      document.getElementById('openIndexButton').addEventListener('click', () => {
        // Redirect the user to the index route of the messaging project
        window.location.href = 'http://localhost:3000/index';
      });

    block content
