block content
  h1(style="text-align: center; color: #333; font-size: 24px; font-family: Courier, monospace;") Sign Up As Student

  form(action='/student-auth/studentSignUp', method='POST', style="display: flex; flex-direction: column; align-items: center;")

    div(style="display: flex; flex-direction: column; margin-bottom: 10px;")
      label(for='name', style="margin-bottom: 5px;") Name:
      input(type='text', id='name', name='name', required, style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;")

    div(style="display: flex; flex-direction: column; margin-bottom: 10px;")
      label(for='email', style="margin-bottom: 5px;") Email:
      input(type='email', id='email', name='email', required, style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;")

    div(style="display: flex; flex-direction: column; margin-bottom: 10px;")
      label(for='password', style="margin-bottom: 5px;") Password:
      input(type='password', id='password', name='password', required, style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;")

    button(type='submit', style="background-color: #5F9EA0; color: #F0F8FF; border: 1px solid #ccc; padding: 8px 16px; border-radius: 4px; cursor: pointer; margin-top: 10px;") Sign Up

  p(style="text-align: center; margin-top: 10px;") Already have an account? 
    a(href='/student-auth/studentLogIn', style="color: #5F9EA0; text-decoration: none;") Log In
