doctype html
html
  head
    title My Express App
    meta(charset="utf-8")

  body
    header(style="text-align: center; padding: 20px;")
      h1(style="color: #333; font-size: 24px;") Are you a Student or an Employer?
    div(style="display: flex; justify-content: center; margin-top: 20px;")
      a(href="/student-auth/studentLogIn" style="text-decoration: none; margin-right: 10px;")
        button(type="button" style="background-color: #5F9EA0; color: #F0F8FF; border: 1px solid #ccc; padding: 8px 16px; border-radius: 4px; cursor: pointer;") Student
      a(href="/employer-auth/employerLogIn" style="text-decoration: none;")
        button(type="button" style="background-color: #5F9EA0; color: #F0F8FF; border: 1px solid #ccc; padding: 8px 16px; border-radius: 4px; cursor: pointer;") Employer
